$body-bg: #E5E5E5;
$box-shadow: rgba(0, 0, 0, 0.07);
$light: #F4F3EE;
$pink: #C32C72;

$navbar-light-color: #333333;
$navbar-light-brand-color: #262626;
$navbar-light-active-color: $pink;
$navbar-light-toggler-border-color: none;
$navbar-toggler-focus-width: 0.05rem;

$link-decoration: none;
$link-hover-color: $pink;
$link-color: #8D8D8D;

$h1-color: #463F3A;
$h1-font-size:  2.125rem;

$card-height: 263px;
$card-bg: $light;