html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

footer {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    background-color: $light;
    font-size: 0.75rem;
    color: $link-color;
    padding: 20px 75px;
}

footer p {
    margin: 0;
}

.wrapper {
    flex: 1 0 auto;
    padding: 0 20px;
}

@media (max-width: 576px) { 
    footer {
        flex-direction: column;
    }
}