.navbar {
    text-transform: uppercase;
    padding: 3px 63px;
}

.navbar-brand {
    font-size: 2.25rem;
}

.nav-link {
    font-size: 1.125rem;
    font-family: 'Archivo Narrow', sans-serif;

    &:hover {
        text-decoration: underline;
    }
}

.navbar-collapse {
    z-index: 1;
}

@media (max-width: 576px) { 
    .navbar {
        padding: 3px 25px;
    }
}